html {
    background-image: url("../IMG/background.png");
    background-color: rgba(5, 5, 5, 0.259);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

body {
    margin: auto;
    margin-top: -15px;
    padding: 0 130px;
    position: relative;
    max-width: 1200px;
    max-height: 1300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #35353571;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

figure {
    display: inline-block;
    margin-right: 10px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #ffffff00;
    padding: 20px;
}



#mainbutton {
	background-color: rgba(54, 54, 54, 0.027);
	border: none;
	color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #ff0000;
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px;
	text-align: center;
	align-self: center;
	border: 3px solid #aa2828;
	border-radius: 12px;
	transition-duration: 0.4s;

}

#mainbutton:hover {
	 box-shadow: 0 10px 20px rgba(255, 255, 255, 0.019), 0 6px 6px rgba(255, 255, 255, 0.023);
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

figcaption {
    margin-top: 10px;
}

select {
    padding: 8px;
    font-size: 16;
}


footer {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}
